* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #e2dde9;
    background-size: cover;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    border-bottom: #fff;
    background-image: url(./images/3.jpeg);
    background-position: cover;
}

header h1 {
    font-weight: bold;
    margin-left: 3.5%;
    padding: 10px 5% 10 5%;
    font-size: 3vw; 
    color: #e2dde9;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

header h1:hover {
    color: #fff;
    text-shadow: 0 0 15px rgba(255, 255, 255, 3)
}

header a {
    text-decoration: none;
    color: #E2DDE9;
  }

header a:hover {
    color: #fff;
    text-shadow: 0 0 15px rgba(255, 255, 255, 3)
}
  
header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
header nav a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 22px;
    color: #E2DDE9;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

main {
    margin-top: 20px;
    margin-bottom: 45px;
}

footer {
    background: #708090;
    min-height: 35px;
    text-align: center;
    vertical-align: bottom;
    opacity: 0.7;
    margin: 0;
  }
  
footer h2 {
    color: #708090;
    font-size: 30px;
}

footer h4 {
  align-content: center;
  padding: 1.5%;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #708090;
}

.hero {
    background:rgba(255, 255, 255, 0.5);
    background-image: url(./images/3.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    padding: 5vw;
    min-width: 90%;
    border-bottom: 4px;
    border-bottom-color: #708090;
    border-bottom-width: relative;
}

  
.pfp:hover {
    opacity: 0; 
}

.gif {
    position: absolute;
    width: 280px;
    margin-bottom: 2px;
    padding-left: 5px;
    border-radius: 15px;
    vertical-align: bottom;
  }
  
.pfp {
    position:relative;
    width: 280px;
    margin-bottom: 2px;
    padding-left: 5px;
    border-radius: 15px;
    vertical-align: bottom;
  }
  
.hero h2 {
    align-items: right;
    position: relative;
    margin: 0.5%;
    color: #fff;
    border-bottom: 4px solid #fff;
    font-size: 60px;
    opacity: 0.75;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

.intro {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
  
  .intro > h2 {
    flex: 0 0 20%;
    color: #708090;
    padding-right: 15px;
    border-right: 4px solid #708090;
    font-size: vw;
    text-align: right;
    line-height: 1.1;
  }
  
  .intro > div {
    flex: 0 0 75%;
  }
  
  .intro p {
    margin-bottom: 20px;
    color: #708090;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #E2DDE9;
    opacity: 0.8;
  }
  
  .grid-container {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(150px, 1fr);
}
  
  .grid-item {
    border: 5px solid #fff;
    grid-column: span 4;
    color: #708090;
    min-height: 100px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: cover;
    transition: all 0.5s;
    font-size: 0.8rem;
}

.grid-item:first-child {
  grid-column: span 4;
  grid-row: span 1;
}

.grid-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.grid-item div {
  background-color: #fff;
  padding: 8px 10px;
}
  
.grid-item.devport {
  background-image: url(./images/webshot.jpg);
}

.grid-item.devport {
  transition: all .2s ease-in-out;
}

.grid-item.devport:hover {
  transform: scale(1.1);
}
  
  .intro address {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .intro i {
    align-items: left;
  }
  
  .intro address a {
    color: #fff;
    padding: 5px;
    text-decoration: none;
    font-size: 1.1rem;
    font-style: normal;
    margin: 0 auto;
    background-color: #708090;
    border-radius: 15px;
  }
  
  .intro-contact {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
  
  .intro-contact address a {
    display: block;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    font-size: 1.1rem;
    font-style: normal;
    margin: 0 auto;
    background-color: #708090;
    border-radius: 15px;
  }
  
  .intro-contact > h2 {
    flex: 0 0 20%;
    color: #708090;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid #708090;
    font-size: vw;
    line-height: 1.1;
  }
  
  .intro-contact > div {
    flex: 0 0 75%;
    align-items: center;
  }
  

  
.transparent-header #header { background-color: rgba(255,255,255,0.7); }

@media screen and (max-width: 980px) {
  header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
  }

  header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
  }

  header nav {
      justify-content: center;
  }

  .intro > h2,
  .intro > div {
      flex: 0 0 100%;
  }

  .intro > h2 {
      border-right: none;
      border-bottom: 4px solid #708090;
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: center;
      font-size: 7vw;
  }

  .hero {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding-left: 50px;
  }
}

/* Max Width 768px*/
@media screen and (max-width: 768px) {
  .grid-item,
  .grid-item:first-child {
      grid-column: 1 / -1;
  }

  .grid-container {
      grid-auto-rows: minmax(200px, 1fr);
  }

  .contact address {
      flex-direction: column;
      align-items: center;
  }
}

  